@model Đồ_án_Web.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.NameCate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.NameCate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProDetail.ColorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProDetail.ColorName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
