@model IEnumerable<Đồ_án_Web.Models.ProDetail>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ColorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RGB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProDecription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ColorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RGB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProDecription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.ProName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ProID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ProID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ProID })
        </td>
    </tr>
}

</table>
