@model IEnumerable<Đồ_án_Web.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CusPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CusPassword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CusName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CusEmail)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CusPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CusPassword)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CusName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CusEmail)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.CusPhone }) |
        </td>
    </tr>
}

</table>
